html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Allow vertical scrolling */
}

.dashboard {
    min-width: 390px;
    padding: 5px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard_top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    text-transform: capitalize;
}

.dashboard_top_name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard_top_name p {
    font-weight: 500;
}

.dashboard_top_name span {
    color: gray;
}

.dashboard_top_name svg {
    height: 15px;
    width: 15px;
}

.dashboard_top_options {
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.5;
    transition: 200ms;
}

.dashboard_top:hover .dashboard_top_options {
    opacity: 1;
}

.dashboard_top_options svg {
    height: 20px;
    width: 20px;
    color: grey;
    transition: 200ms;
}

.dashboard_top_options svg:hover {
    color: black;
}

.dashboard_container {
    flex-grow: 1;
padding: 10px;
width: 100%;

}